{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'js/directories.js' %}" defer></script>
</head>

<body>
    <div class="container mt-4">
        <a href="{% url 'finance:transaction_list' %}" class="btn btn-outline-secondary btn-sm ml-auto">
            ← К списку
        </a>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#types">
                    Типы
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#statuses">
                    Статусы
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#categories">
                    Категории
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#subcategories">
                    Подкатегории
                </a>
            </li>
        </ul>

        <div class="tab-content mt-3">

            <div class="tab-pane fade show active" id="types">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Типы</h5>

                    <button class="btn btn-success btn-sm open-directory-modal open-form-btn" data-title="Добавить тип"
                        data-target="type-form" data-entity="type">
                        + Добавить тип
                    </button>
                </div>

                <div style="max-width: 500px;">
                    <ul class="list-group">
                        {% for type in types %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">

                            <span>{{ type.name }}</span>

                            <div>
                                <button type="button" data-id="{{ type.id }}" data-name="{{ type.name }}" class="edit-type btn btn-outline-primary btn-sm me-2">
                                    Изменить
                                </button>

                                <form method="post"
                                action="{% url 'finance:type_delete' type.id %}"
                                class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                        Удалить
                                    </button>
                                </form>
                            </div>

                        </li>
                        {% empty %}
                        <li class="list-group-item text-muted">
                            Типов нет
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="type-form" class="d-none mt-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ type_form.as_p }}

                        <button class="btn btn-success" name="create_type" type="submit">Сохранить</button>
                        <button class="btn btn-secondary close-form-btn" type="button">
                            Отмена
                        </button>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="statuses">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Статусы</h5>

                    <button name="create-status" class="btn btn-success btn-sm open-directory-modal open-form-btn" data-title="Добавить статус"
                        data-target="status-form" data-entity="status">
                        + Добавить статус
                    </button>
                </div>

                <div style="max-width: 500px;">
                    <ul class="list-group">
                        {% for status in statuses %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">

                            <span>{{ status.name }}</span>

                            <div>
                                <button type="button" class="edit-status btn btn-outline-primary btn-sm me-2" data-id="{{ status.id }}" data-name="{{ status.name }}">
                                    Изменить
                                </button>

                                <form method="post"
                                    action="{% url 'finance:status_delete' status.id %}"
                                    class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                        Удалить
                                    </button>
                                </form>
                            </div>

                        </li>
                        {% empty %}
                        <li class="list-group-item text-muted">
                            Статусов нет
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="status-form" class="d-none mt-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ status_form.as_p }}

                        <button class="btn btn-success" name="create_status" type="submit">Сохранить</button>
                        <button class="btn btn-secondary close-form-btn" type="button">
                            Отмена
                        </button>
                    </form>
                </div>

            </div>

            <div class="tab-pane fade" id="categories">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Категории</h5>

                    <button name="create-category" class="btn btn-success btn-sm open-directory-modal open-form-btn" data-title="Добавить категорию"
                        data-target="category-form" data-entity="category">
                        + Добавить категорию
                    </button>
                </div>

                <div style="max-width: 600px;">
                    <ul class="list-group">
                        Тип
                        <select name="type" id="type-select">
                            <option value="">------</option>
                            {% for type in types %}
                                <option value="{{type.id}}">{{type.name}}</option>
                            {% endfor %}
                        </select>
                    </ul>               
                    <div id="categories-list"></div>
                </div>
                
                <div id="category-form" class="d-none mt-3">
                    <form method="post" >
                        {% csrf_token %}
                        {{ category_form.as_p }}

                        <button class="btn btn-success" name="create_category" type="submit">Сохранить</button>
                        <button class="btn btn-secondary close-form-btn" type="button">
                            Отмена
                        </button>
                    </form>
                </div>
            </div>

            <!-- ====================== SUBCATEGORIES ====================== -->

            <div class="tab-pane fade" id="subcategories">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Подкатегории</h5>

                    <button name="create-subcategory" class="btn btn-success btn-sm open-directory-modal open-form-btn" data-title="Добавить подкатегорию"
                        data-target="subcategory-form" data-entity="subcategory">
                        + Добавить подкатегорию
                    </button>
                </div>

                <div style="max-width: 650px;">
                    <ul class="list-group">
                        Категория
                        <select name="category" id="category-select">
                            <option value="">------</option>
                            {% for type in types %}
                                <option value="{{type.id}}">{{type.name}}</option>
                            {% endfor %}
                        </select>
                    </ul>
                    <div id="subcategories-list" class="mt-4"></div>
                </div>
                <div id="subcategory-form" class="d-none mt-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ subcategory_form.as_p }}

                        <button class="btn btn-success" name="create_subcategory" type="submit">Сохранить</button>
                        <button class="btn btn-secondary close-form-btn" type="button">
                            Отмена
                        </button>
                    </form>
            </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
//         import {loadOptions} from '../../js/utils.js';
//         const tabs = document.querySelectorAll('.tab');

//         tabs.forEach(tab => {
//             tab.addEventListener('click', () => {
//                 // убрать active у всех
//                 tabs.forEach(t => t.classList.remove('active'));

//                 // добавить active текущему
//                 tab.classList.add('active');
//             });
//         });

//         document.addEventListener("DOMContentLoaded", function () {
//               const typeSelect = document.querySelector("#id_type");
//   const categorySelect = document.querySelector("#id_category");
//   const subcategorySelect = document.querySelector("#id_subcategory");

//   const selectedType = typeSelect.value;
//   const selectedCategory = categorySelect.value;
//   // const selectedSubcategory = subcategorySelect.value;

//   categorySelect.disabled = true;
//   subcategorySelect.disabled = true;

//   if (selectedType) {
//     categorySelect.disabled = false;

//     loadOptions(
//       `/ajax/categories?type_id=${selectedType}`,
//       categorySelect,
//       "Выберите категорию",
//       selectedCategory
//     );
//   } else {
//     categorySelect.innerHTML = "<option>Сначала выберите тип</option>";
//   }
  

//   if (selectedCategory) {
//     subcategorySelect.disabled = false;

//     loadOptions(
//       `/ajax/subcategories?category_id=${selectedCategory}`,
//       subcategorySelect,
//       "Выберите категорию",
//       selectedSubcategory
//     );
//   } else {
//     subcategorySelect.innerHTML = "<option>Сначала выберите категорию</option>";
//   }

//   // categorySelect.innerHTML = "<option>Сначала выберите тип</option>";
//   // subcategorySelect.innerHTML = "<option>Сначала выберите категорию</option>";

//   typeSelect.addEventListener("change", function () {
//         let typeId = this.value;
//         if (typeId) {
//         categorySelect.disabled = false;
//         loadOptions(`/ajax/categories?type_id=${typeId}`, categorySelect);
//         }
//         else {
//         categorySelect.innerHTML = "<option>Сначала выберите тип</option>";
//         categorySelect.disabled = true;
//         }
//     });

//     categorySelect.addEventListener("change", function () {
//         let categoryId = this.value;
//         console.log(categoryId);
//         if (categoryId) {
//         subcategorySelect.disabled = false;
//         loadOptions(`/ajax/subcategories?category_id=${categoryId}`, subcategorySelect);
//         }
//         else {
//         subcategorySelect.innerHTML = "<option>Сначала выберите категорию</option>";
//         subcategorySelect.disabled = true;
//         }
//     })
//     })

//         })
    </script>
</body>

</html>